<aside id="main__sidebar">
        <a class="hidden-lg main__block-close" href="" data-rmd-action="block-close" data-rmd-target="#main__sidebar">
            <i class="zmdi zmdi-long-arrow-left"></i>
        </a>
        <ul class="main-menu">
            <li class="active"><a href="index.html"><i class="zmdi zmdi-city-alt"></i> Мои объявления</a></li>
            <li><a href="listings.html"><i class="zmdi zmdi-collection-plus"></i> Добавить объявление</a></li>
            <li><a href="leads.html"><i class="zmdi zmdi-archive"></i> Архив</a></li>
        </ul>
    </aside>



