@using HomeApp.Core.Db.Entities.Models.Enums
@using HomeApp.Site.Areas.Office.ViewModels
@model HomeApp.Site.Areas.Office.ViewModels.SetUserTypeViewModel


@Html.Partial("Partials/Header")

<div class="submit-property">
    @Html.Partial("Partials/Steps", new StepViewModel { Step = 1, UserType = UserType.Person })
    <div class="tab-content submit-property__content">
        <div class="tab-pane fade in active">
            <div class="card">
                <div class="card__header">
                    <h2>Вы риэлтор?</h2>
                    <small>Отметьте галочку, если вы являетесь профессионалом в области недвижимости</small>
                </div>
                <form class="card__body" asp-area="Office" asp-controller="Profile" asp-action="SetUserType" method="post" id="is-realtor">
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="text-muted">
                                <input type="checkbox" asp-for="IsRealtor">
                                <i class="input-helper"></i>
                                Да, я риэлтор
                            </label>
                        </div>
                        <input type="hidden" name="UserId" value="@Model.UserId"/>
                    </div>
                    <a href="javascript:{}" onclick="document.getElementById('is-realtor').submit();" data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Styles
{
    <link rel="stylesheet" href="~/css/profile.css" />
}

