@using HomeApp.Core.Identity.CustomProvider
@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomIdentityUser> UserManager

@{
    CustomIdentityUser user = UserManager.FindByNameAsync(Context.User.Identity.Name).Result;
    string userName = user.UserName ?? user.Email;
}


@Html.Partial("Partials/Header")

<div class="submit-property">
    @Html.Partial("Partials/Steps", 5)
    <div class="tab-content submit-property__content">
        <div class="tab-pane fade in active">
            <div class="card">
                <div class="submit-property__success">
                    <i class="zmdi zmdi-check"></i>

                    <h2>Готово!</h2>
                    <p>Ваш профайл создан. Теперь вы можете воспользоваться личным кабинетом.</p>
                    <a class="btn btn-sm btn-primary" asp-area="Office" asp-controller="Home" asp-action="Index">Перейти в ЛК</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles
    {
    <link rel="stylesheet" href="~/css/profile.css" />
}
