<div class="card hidden-xs hidden-sm hidden-print">
    <div class="card__header">
        <h2>You may also like...</h2>
        <small>Morbi risus porta consectetur vestibulum ateros</small>
    </div>
    <div class="list-group">
        <a href="" class="list-group-item media">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="" class="list-group__img" width="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus</strong>
                <small>$810,000 . 04 Beds . 03 Baths</small>
            </div>
        </a>
        <a href="" class="list-group-item media">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="" class="list-group__img" width="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Fusce dapibus tellusac cursus</strong>
                <small>$910,300 . 03 Beds . 02 Baths</small>
            </div>
        </a>
        <a href="" class="list-group-item media">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="" class="list-group__img" width="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Praesent commodo cursus magnavel scelerisque nisl</strong>
                <small>$2,560,000 . 08 Beds . 07 Baths</small>
            </div>
        </a>
        <a href="" class="list-group-item media">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="" class="list-group__img" width="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Lorem ipsum dolor sitamet consectetur adipiscing elit</strong>
                <small>$1,140,650 . 06 Beds . 03 Baths</small>
            </div>
        </a>
        <a href="" class="list-group-item media">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="" class="list-group__img" width="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Fusce dapibus accursus commodo</strong>
                <small>$780,900 . 02 Beds . 02 Baths</small>
            </div>
        </a>
        <div class="p-10"></div>
    </div>
</div>

