<div class="card">
    <div class="card__header">
        <h2>Недвижимость рядом с вами</h2>
        <small></small>
    </div>
    <div class="map-widget">
        <div id="nearby-properties" class="map-widget__item"></div>
    </div>
</div>