<div class="actions actions--section">
    <div class="actions__toggle">
        <input type="checkbox">
        <i class="zmdi zmdi-favorite-outline"></i>
        <i class="zmdi zmdi-favorite"></i>
    </div>
    <a href="" data-rmd-action="print"><i class="zmdi zmdi-print"></i></a>
    <div class="dropdown actions__email">
        <a href="" data-toggle="dropdown"><i class="zmdi zmdi-email"></i></a>
        <div class="dropdown-menu stop-propagate">
            <form>
                <p>
                    <strong>Используйте эту форму, чтобы задать вопрос агенту.</strong>
                </p>
                <div class="clearfix"></div>
                <div class="form-group form-group--float m-t-10">
                    <input type="text" class="form-control">
                    <label>Ваша почта для обратной связи</label>
                    <i class="form-group__bar"></i>
                </div>
                <div class="form-group form-group--float">
                    <textarea class="form-control textarea-autoheight"></textarea>
                    <label>Сообщение (не обязательно)</label>
                    <i class="form-group__bar"></i>
                </div>
                <div class="clearfix"></div>
                <div class="m-t-15">
                    <button class="btn btn-primary">Отправить</button>
                    <a href="#" target="_blank" class="btn btn-link">Показать email</a>
                </div>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <a href="" data-toggle="dropdown"><i class="zmdi zmdi-share"></i></a>
        <div class="dropdown-menu pull-right rmd-share">
            <div></div>
        </div>
    </div>
</div>