<div class="container hidden-xs">
    <div class="row">
        <div class="col-sm-4">
            <div class="footer__block">
                <a class="logo clearfix" href="">
                    <div class="logo__text">
                        <span>HOMEAPP PRO</span>
                        <span>Профессиональная работа с недвижимостью</span>
                    </div>
                </a>

                <address class="m-t-20 m-b-20 f-14">
                    ул. Лужники, 24, строение 8, Москва, 119270
                </address>

                <div class="f-20">+7 (917) 599-17-02</div>
                <div class="f-14 m-t-5">your@@homeapp.pro</div>

                <div class="f-20 m-t-20">
                    <a href="" class="m-r-10"><i class="zmdi zmdi-google"></i></a>
                    <a href="" class="m-r-10"><i class="zmdi zmdi-facebook"></i></a>
                    <a href=""><i class="zmdi zmdi-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer__block footer__block--blog">
                <div class="footer__title">Последнее на нашем блоге</div>

                <a href="">
                    Aenean lacinia bibendum nulla sed
                    <small>On 2016/06/20 at 6:00 PM</small>
                </a>
                <a href="">
                    Vestibulum id ligula porta felis euismod semper
                    <small>On 2016/06/18 at 7:12 PM</small>
                </a>
                <a href="">
                    Etiam porta sem malesuada magna mollis euismod
                    <small>On 2016/06/10 at 12:59 PM</small>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer__block">
                <div class="footer__title">О нас</div>
                <div>
                    HOMEAPP PRO – новый сервис для поиска недвижимости. В отличае от большинства
                    других плащадок недвижимости, работающик в каком то одном регионе, homeapp.pro
                    работает глобально, по всему миру. Мы старались в первую очередь сделать сервис
                    удобным для поиска недвижимости по всему миру. На сайте homeapp.pro вы сможете 
                    найти предложения купли/продажи недвижимости из разных стран.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer__bottom">
    <div class="container">
        <span class="footer__copyright">© @DateTime.UtcNow.Year HOMEAPP PRO</span>

        <a href="">Контакты</a>
        <a href="">Условия использования</a>
        <a href="">Дополнительные услуги</a>
        <a href="">Карьера</a>
        <a href="">API для разработчиков</a>
    </div>

    <div class="footer__to-top" data-rmd-action="scroll-to" data-rmd-target="html">
        <i class="zmdi zmdi-chevron-up"></i>
    </div>
</div>