<div class="card subscribe mdc-bg-light-blue">
    <div class="subscribe__icon">
        <i class="zmdi zmdi-email"></i>
    </div>
    <h2>Подпишитесь на новоти</h2>
    <small>Будьте в курсе последних событий на homeapp.pro</small>
    <form>
        <div class="form-group form-group--light form-group--float">
            <input type="text" class="form-control text-center" placeholder="Электронная почта">
            <i class="form-group__bar"></i>
        </div>
        <button class="btn btn--circle">
            <i class="zmdi zmdi-check mdc-text-light-blue"></i>
        </button>
    </form>
</div>