<div class="card">
    <div class="card__header">
        <h2>Лучшие агенты</h2>
        <small>Мы рекомендуем для вас лучших специалистов!</small>
    </div>
    <div class="list-group">
        <a class="list-group-item media" href="">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="" class="list-group__img img-circle" width="65" height="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Sarah Zelermyer Diaz</strong>
                <small class="list-group__text">+1-202-555-0121</small>
                <div class="rmd-rate" data-rate-value="5" data-rate-readonly="true"></div>
            </div>
        </a>
        <a class="list-group-item media" href="">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="" class="list-group__img img-circle" width="65" height="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Malinda Hollaway</strong>
                <small class="list-group__text">+1-202-555-0188</small>
                <div class="rmd-rate" data-rate-value="5" data-rate-readonly="true"></div>
            </div>
        </a>
        <a class="list-group-item media" href="">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="" class="list-group__img img-circle" width="65" height="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Dave Williams Jr.</strong>
                <small class="list-group__text">+1-202-555-0132</small>
                <div class="rmd-rate" data-rate-value="5" data-rate-readonly="true"></div>
            </div>
        </a>
        <a class="list-group-item media" href="">
            <div class="pull-left">
                <img src="https://placeholdit.imgix.net/~text?&w=500&h=500" alt="" class="list-group__img img-circle" width="65" height="65">
            </div>
            <div class="media-body list-group__text">
                <strong>Stephen Franklin</strong>
                <small class="list-group__text">+1-202-555-0141</small>
                <div class="rmd-rate" data-rate-value="5" data-rate-readonly="true"></div>
            </div>
        </a>
        <a href="" class="view-more">View all Agents</a>
    </div>
</div>