@using Microsoft.AspNetCore.Http
<div class="header__top">
    <div class="container">
        <ul class="top-nav">

            @if (Context.User.Identity.IsAuthenticated)
            {
                <form asp-area="Auth" asp-controller="Home" asp-action="Logout" method="post" asp-antiforgery="true">
                    <li class="dropdown top-nav__guest">
                        <input type="submit" value="Выйти"/>
                    </li>
                </form>
            }
            else
            {
                <li class="dropdown top-nav__guest">
                    <a asp-area="Auth" asp-controller="Home" asp-action="Registration">Регистрация</a>
                </li>

                <li class="dropdown top-nav__guest">
                    <a asp-area="Auth" asp-controller="Home" asp-action="Login">Войти</a>
                </li>
            }

            <li class="pull-right top-nav__icon">
                <a href=""><i class="zmdi zmdi-facebook"></i></a>
            </li>
            <li class="pull-right top-nav__icon">
                <a href=""><i class="zmdi zmdi-twitter"></i></a>
            </li>
            <li class="pull-right top-nav__icon">
                <a href=""><i class="zmdi zmdi-google"></i></a>
            </li>

            <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-email"></i>your@homeapp.pro</span></li>
            <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-phone"></i>+7 (917) 599-17-02</span></li>
        </ul>
    </div>
</div>