<div class="header__top">
    <div class="container">
        <ul class="top-nav">
            <li class="dropdown top-nav__guest">
                <a asp-area="Auth" asp-controller="Home" asp-action="Registration">Регистрация</a>
            </li>

            <li class="dropdown top-nav__guest">
                <a asp-area="Auth" asp-controller="Home" asp-action="Login">Войти</a>
            </li>

            <li class="pull-right top-nav__icon">
                <a href=""><i class="zmdi zmdi-facebook"></i></a>
            </li>
            <li class="pull-right top-nav__icon">
                <a href=""><i class="zmdi zmdi-twitter"></i></a>
            </li>
            <li class="pull-right top-nav__icon">
                <a href=""><i class="zmdi zmdi-google"></i></a>
            </li>

            <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-email"></i>your@homeapp.pro</span></li>
            <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-phone"></i>+7 (917) 599-17-02</span></li>
        </ul>
    </div>
</div>