<div class="main__container">
    <header class="main__title">
        <h2>Главная</h2>
        <small>Ваши активности и статистика</small>
    </header>
    <div class="card">
        <div class="card__header">
            @*<h2>Главная</h2>
            <small>Ваши активности и статистика</small>*@
        </div>
        <div class="card__body">
            <p>У вас еще нет активностей!</p>
        </div>
    </div>
</div>
