<div class="col-md-4 rmd-sidebar-mobile" id="agent-question">
    <form class="card">
        <div class="card__header">
            <h2>Задать вопрос</h2>
            <small>Чтобы задать вопрос специалисту, заполните форму</small>
        </div>

        <div class="card__body m-t-10">
            <div class="form-group form-group--float">
                <input type="text" class="form-control">
                <i class="form-group__bar"></i>
                <label>Как к вам обращаться</label>
            </div>
            <div class="form-group form-group--float">
                <input type="text" class="form-control">
                <i class="form-group__bar"></i>
                <label>Электронная почта</label>
            </div>
            <div class="form-group form-group--float">
                <input type="text" class="form-control">
                <i class="form-group__bar"></i>
                <label>Телефон</label>
            </div>
            <div class="form-group form-group--float">
                <textarea class="form-control textarea-autoheight"></textarea>
                <i class="form-group__bar"></i>
                <label>Сообщение</label>
            </div>

            <small class="text-muted">By sending us your information, you agree to Root’s Terms of Use & Privacy Policy.</small>
        </div>

        <div class="card__footer">
            <button class="btn btn-primary">Отправить</button>
            <button class="btn btn-sm btn-link visible-sm-inline visible-xs-inline" data-rmd-action="block-close" data-rmd-target="#agent-question">Cancel</button>
        </div>
    </form>
</div>