@using HomeApp.Site.Areas.Auth.ViewModels
@model ExternalLoginViewModel
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 card">
        <div class="card__body">
            <div class="card__sub">
                <header class="section__title">
                    <h2>@ViewBag.Title</h2>
                </header>
                <div class="tab-content">
                    
                    <p class="text-info">
                        Вы успешно вошли с помощью <strong>@ViewBag.LoginProvider</strong>.
                        Пожалуйста, укажите адрес электронной почты и нажмите кнопку "Зарегистрироваться", чтобы завершить вход!
                    </p>
                    
                    <form asp-action="ExternalLoginConfirmation" asp-controller="Home" asp-area="Auth" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="tab-pane active in fade">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="Email" />
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="UserName" />
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block m-t-10 m-b-10" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
